In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
races = pd.read_csv(r"C:\Users\morch\Downloads\ACM Event\races.csv")
drivers = pd.read_csv(r"C:\Users\morch\Downloads\ACM Event\drivers.csv")
lap_times = pd.read_csv(r"C:\Users\morch\Downloads\ACM Event\lap_times.csv")
pit_stops = pd.read_csv(r"C:\Users\morch\Downloads\ACM Event\pit_stops.csv")
constructors = pd.read_csv(r"C:\Users\morch\Downloads\ACM Event\constructors.csv")
results = pd.read_csv(r"C:\Users\morch\Downloads\ACM Event\results.csv")
qualifying = pd.read_csv(r"C:\Users\morch\Downloads\ACM Event\qualifying.csv")

In [3]:
lap_times_races = pd.merge(lap_times, races[['raceId', 'year', 'name']], on='raceId')

lap_times_results = pd.merge(lap_times_races, results[['raceId', 'driverId', 'constructorId']], on=['raceId', 'driverId'])

lap_times_constructors = pd.merge(lap_times_results, constructors[['constructorId', 'name']], on='constructorId')

years = [2010, 2020, 2021]
fastest_laps = lap_times_constructors[lap_times_constructors['year'].isin(years)]

fastest_laps_summary = fastest_laps.groupby(['year', 'name_x', 'name_y'])['milliseconds'].min().reset_index()

fastest_laps_summary.columns = ['Year', 'EventName', 'Constructor', 'FastestLapTime']

fastest_laps_summary

     Year                 EventName   Constructor  FastestLapTime
0    2010      Abu Dhabi Grand Prix       Ferrari          102227
1    2010      Abu Dhabi Grand Prix   Force India          102695
2    2010      Abu Dhabi Grand Prix           HRT          106255
3    2010      Abu Dhabi Grand Prix         Lotus          105378
4    2010      Abu Dhabi Grand Prix       McLaren          101274
..    ...                       ...           ...             ...
613  2021  United States Grand Prix  Haas F1 Team          101395
614  2021  United States Grand Prix       McLaren          100228
615  2021  United States Grand Prix      Mercedes           98485
616  2021  United States Grand Prix      Red Bull           99096
617  2021  United States Grand Prix      Williams          101120

[618 rows x 4 columns]

In [17]:
fastest_laps_summary.to_csv(r'C:\Users\morch\Downloads\ACM Event\fastest_laps_summary.csv', index=False)

In [4]:
pit_stops_races = pd.merge(pit_stops, races[['raceId', 'year', 'name']], on='raceId')

pit_stops_results = pd.merge(pit_stops_races, results[['raceId', 'driverId', 'constructorId']], on=['raceId', 'driverId'])

pit_stops_constructors = pd.merge(pit_stops_results, constructors[['constructorId', 'name']], on='constructorId')

years = [2020, 2021, 2022, 2023]
fastest_pit_stops = pit_stops_constructors[pit_stops_constructors['year'].isin(years)]

fastest_pit_stops_summary = fastest_pit_stops.groupby(['year', 'name_x', 'name_y'])['milliseconds'].min().reset_index()

fastest_pit_stops_summary.columns = ['Year', 'EventName', 'Constructor', 'FastestPitStopTime']

fastest_pit_stops_summary

     Year                    EventName   Constructor  FastestPitStopTime
0    2020  70th Anniversary Grand Prix    Alfa Romeo               27693
1    2020  70th Anniversary Grand Prix    AlphaTauri               28036
2    2020  70th Anniversary Grand Prix       Ferrari               28167
3    2020  70th Anniversary Grand Prix  Haas F1 Team               28934
4    2020  70th Anniversary Grand Prix       McLaren               27949
..    ...                          ...           ...                 ...
811  2023     United States Grand Prix  Haas F1 Team               24308
812  2023     United States Grand Prix       McLaren               23361
813  2023     United States Grand Prix      Mercedes               23969
814  2023     United States Grand Prix      Red Bull               23747
815  2023     United States Grand Prix      Williams               24354

[816 rows x 4 columns]

In [ ]:
fastest_pit_stops_summary.to_csv(r'C:\Users\morch\Downloads\ACM Event\fastest_pit_stops_summary.csv', index=False)

In [6]:
constructor_standings = pd.read_csv(r"C:\Users\morch\Downloads\ACM Event\constructor_standings.csv")

constructor_standings_with_year = pd.merge(constructor_standings, races[['raceId', 'year']], on='raceId')

constructors_standings_merged = pd.merge(constructor_standings_with_year, constructors[['constructorId', 'name']], on='constructorId')

teams = ['McLaren', 'Ferrari']
constructors_comparison = constructors_standings_merged[constructors_standings_merged['name'].isin(teams)]

constructors_summary = constructors_comparison.groupby(['year', 'raceId', 'name'])['position'].mean().reset_index()

constructors_summary.columns = ['Year', 'RaceID', 'Constructor', 'AvgPosition']

constructors_summary

      Year  RaceID Constructor  AvgPosition
0     1958     765     Ferrari          2.0
1     1958     766     Ferrari          2.0
2     1958     767     Ferrari          2.0
3     1958     768     Ferrari          2.0
4     1958     769     Ferrari          1.0
...    ...     ...         ...          ...
1958  2024    1130     McLaren          3.0
1959  2024    1131     Ferrari          2.0
1960  2024    1131     McLaren          3.0
1961  2024    1132     Ferrari          2.0
1962  2024    1132     McLaren          3.0

[1963 rows x 4 columns]

In [ ]:
constructors_summary.to_csv(r'C:\Users\morch\Downloads\ACM Event\constructors_summary_with_raceid.csv', index=False)

In [7]:
hamilton_id = drivers[drivers['surname'] == 'Hamilton']['driverId'].values[0]

hamilton_qualifying = qualifying[qualifying['driverId'] == hamilton_id]
hamilton_qualifying = pd.merge(hamilton_qualifying, races[['raceId', 'year']], on='raceId')

years = [2021, 2022, 2023]
hamilton_qualifying_filtered = hamilton_qualifying[hamilton_qualifying['year'].isin(years)]

hamilton_q3_failures = hamilton_qualifying_filtered[hamilton_qualifying_filtered['position'] > 10]

hamilton_q3_failures_summary = hamilton_q3_failures.groupby('year')['position'].count().reset_index()

hamilton_q3_failures_summary.columns = ['Year', 'Q3Failures']

hamilton_q3_failures_summary

   Year  Q3Failures
0  2022           2
1  2023           4

In [ ]:
hamilton_q3_failures_summary.to_csv(r'C:\Users\morch\Downloads\ACM Event\hamilton_q3_failures_summary.csv', index=False)